<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Todo</title>

    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div class="new-container">
      <div class="new-top-bar">
        <h1 class="new-title">Create New Todo</h1>
        <a href="/" class="btn back-btn">← Back</a>
      </div>

      <div class="new-card">
        <form action="/new" method="POST" class="new-form">
          <label class="input-label">Todo Title</label>
          <input
            type="text"
            class="new-input"
            name="title"
            placeholder="Enter your todo..."
            required
          />

          <button type="submit" class="btn new-submit-btn">Add Todo</button>
        </form>
      </div>
    </div>
  </body>
</html>
