

body {
    margin: 0;
    padding: 0;
    background: #0d0d0d; 
    font-family: "Segoe UI", Arial, sans-serif;
    color: #e5e7eb; 
}


.container {
    width: 90%;
    max-width: 650px;
    margin: 40px auto;
    background: #111827;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.45);
}



.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.title {
    margin: 0;
    color: #3b82f6;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: 600;
}



.btn {
    padding: 8px 14px;
    background: #3b82f6; 
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9rem;
    transition: 0.15s ease-in-out;
}

.btn:hover {
    background: #2563eb; 
}

.add-btn {
    font-weight: bold;
}



.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-item {
    background: #1f2937; 
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: transform 0.1s ease, background 0.2s;
}

.todo-item:hover {
    transform: scale(1.02);
    background: #1c2532;
}

.todo-text {
    font-size: 1.05rem;
}


.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

/* Add to design template  */

.new-container {
    width: 90%;
    max-width: 650px;
    margin: 50px auto;
    color: #e5e7eb;
}

.new-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.new-title {
    margin: 0;
    font-size: 1.9rem;
    font-weight: 600;
    color: #7f89ff;  
}

.new-card {
    background: #0f172a;  
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.4);
}


.input-label {
    display: block;
    margin-bottom: 8px;
    color: #c7d2fe; 
    font-size: 1rem;
}


.new-input {
    width: 100%;
    padding: 12px;
    background: #1e1e2e;  
    border: 1px solid #475569; 
    border-radius: 8px;
    font-size: 1rem;
    color: #f1f5f9;
    outline: none;
    margin-bottom: 18px;
    transition: 0.2s;
}

.new-input:focus {
    border-color: #818cf8; 
    box-shadow: 0 0 8px rgba(129, 140, 248, 0.6);
}


.new-submit-btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #4338ca, #7c3aed);
}
